button {
  height: 58px;
  border-radius: 5px;
  border: none;
  contain: content;
  font-family: "Aileron", sans-serif;
  font-style: normal;
}
.button1 {
  width: 111px;
  background: #ebebeb;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #1c0b11;
  letter-spacing: 0.25px;
  color: #1c0b11;
}

.button2 {
  width: 192px;
  background: #ff5a70;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #ffffff;
}

.button1-img {
  width: 23;
  height: 27px;
}

.button2-img {
  width: 16.7px;
  height: 16.7px;
}
