.inputSearch {
  max-width: 739px;
  width: 100%;
  height: 58px;
}

.filterContainer {
  width: 100%;
  display: flex;
  gap: 18px;
}

.selectContainer {
  width: 100%;
  display: flex;
  gap: 28px;
  margin-top: 28px;
}

.select0 {
  max-width: 266px;
  width: 100%;
}

.select1 {
  max-width: 206px;
  width: 100%;
}

.select2 {
  max-width: 190px;
  width: 100%;
}

.input2 {
  max-width: 328px;
  width: 100%;
}
