<div class="filterContainer">
  <div class="inputSearch">
    <app-input placeholder="Search" class="input1" [icon]="true"></app-input>
  </div>
  <div class="button">
    <app-button text="Filter" img="filter" class="button1"></app-button>
  </div>
  <div class="button">
    <app-button text="New hire" img="plus" class="button2"></app-button>
  </div>
</div>
<div class="selectContainer">
  <div class="select0">
    <app-select
      text="Create on: Jan/10/21 - Jan/28/21"
      class="select0"
      [calendarIcon]="true"
    ></app-select>
  </div>

  <div class="select1">
    <app-select text="Contract Type" class="select1"></app-select>
  </div>
  <div class="input2">
    <app-input placeholder="Contractor name" class="input2"></app-input>
  </div>
  <div class="select2">
    <app-select text="Status" class="select2"></app-select>
  </div>
</div>
