<div class="contracts">
  <div class="contracts_container">
    <div class="content">
      <div class="tittle">
        <h1 class="tittle_h1">Contracts for {{ client }}</h1>
      </div>

      <div class="container text-center">
        <app-filters></app-filters>
        <div class="container_table">
          <app-contract-table></app-contract-table>
        </div>
      </div>

      <div class="container_popup">
        <div class="popup2">
          <img src="/assets/svg/popup.svg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
