.contracts {
  width: 100%;
  height: 100vh;
  top: 67px;
  display: flex;
}

.contracts_container {
  width: 100%;
  // max-width: 1440px;
  background: #f9f9f9;
  left: 180px;
}
.content {
  margin-left: 180px;
}

.tittle {
  width: 100%;
  height: 72px;
  margin-top: 62px;
  padding-right: 65px;
  color: #000000;

  display: flex;
  justify-content: center;
}
.tittle_h1 {
  font-family: "Aileron", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
}

// en el app-filters
.filters {
  width: 100%;

  display: flex;
  justify-content: center;
}
.container_table {
  margin-top: 30px;
}

.popup {
  position: absolute;
  border-radius: 50px;
  right: 0%;
  bottom: 0%;
  height: 79px;
  width: 79px;
  text-align: center;
  /* 500 */

  background: #ff5a70;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

  img {
    margin-top: 17px;
  }
}
.container_popup {
  position: fixed;
  z-index: 10;
  bottom: 2%;
  right: 2%;
  width: 79px;
  height: 79px;
  border-radius: 49%;
  background: #ff5a70;
  cursor: pointer;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}
.popup2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 79px;
  width: 79px;
  // transition: transform 100ms linear, opacity 80ms linear;
  // opacity: 1;
  // transform: rotate(0deg) scale(1);
}

@media (max-width: 600px) {
  .content {
    margin-left: 0px;
  }
  .tittle {
    height: 30px;
    margin-top: 48px;
    padding-right: 0px;
  }

  .container {
    padding-left: 23px;
    padding-right: 19px;
  }

  .tittle_h1 {
    font-size: 24px;
    text-align: center;
  }
  .container_popup {
    z-index: 1;
    margin-top: 21px;
    margin-right: 20px;
    margin-bottom: 28px;
  }
}
