<button type="button" data-bs-toggle="dropdown" aria-expanded="false">
  <img src="/assets/svg/{{ imgName }}.svg" />
</button>
<ul class="dropdown-menu">
  <li>
    <a class="dropdown-item" href="#"
      ><img class="userImg" src="/assets/svg/edit.svg" />Edit</a
    >
  </li>
  <li class="center"><hr class="dropdown-divider" /></li>
  <li>
    <a class="dropdown-item" href="#"
      ><img class="userImg" src="/assets/svg/sign.svg" />Sign</a
    >
  </li>
  <li class="center"><hr class="dropdown-divider" /></li>
  <li>
    <a class="dropdown-item" href="#"
      ><img class="userImg" src="/assets/svg/documents.svg" />View summary</a
    >
  </li>
  <li class="center"><hr class="dropdown-divider" /></li>
  <li>
    <a class="dropdown-item" href="#"
      ><img class="userImg" src="/assets/svg/delete.svg" />Delete</a
    >
  </li>
</ul>
