.status {
  width: 162px;
  height: 24px;
  border-radius: 20px;
  font-family: "Aileron";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  text-align: left;
  padding-left: 14px;
  display: flex;
  align-items: center;
}

.Active {
  color: #36cf82;
  background: rgba(54, 207, 130, 0.18);
}

.Signature.pending {
  color: #f29d42;
  background: rgba(242, 157, 66, 0.3);
  border-radius: 20px;
}

p {
  margin: 0px;
}

img {
  padding-right: 5px;
}
